@model IEnumerable<DACN_TBDD_TGDD.Models.CategoryModel>

@{
    ViewData["Title"] = "Categories Listed";
}

<h3>List Category</h3>
<a asp-action="Create" class="btn btn-primary" asp-controller="Category">Add</a>
<table class="table">
    <thead>
        <tr>
           
            <th scope="col">Category Name</th>
            <th scope="col">Description</th>
            <th scope="col">Slug</th>
            <th scope="col">Category status</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>@item.Name</td>
                <td>@item.Description</td>
                
                <td>@item.Slug</td>
                <td>@item.status</td>
                <td>
                    <!-- Link to the Edit action, passing the product Id -->
                    <a asp-action="Edit" class="btn btn-warning btn-sn" asp-controller="Category" asp-route-id="@item.Id">Edit</a>

                    <!-- Link to the Delete action, passing the product Id -->
                    <form asp-action="DeleteConfirmed" method="post" style="display:inline;" onsubmit="return confirmDelete();">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>


                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function confirmDelete() {
        return confirm("Are you sure you want to delete this Category?");
    }
</script>
@if (ViewBag.Pager != null)
{
    <nav>
        <ul class="pagination">
            @if (ViewBag.Pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.Pager.CurrentPage - 1)">Previous</a>
                </li>
            }
            @for (int i = ViewBag.Pager.StartPage; i <= ViewBag.Pager.EndPage; i++)
            {
                <li class="page-item @(ViewBag.Pager.CurrentPage == i ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                </li>
            }
            @if (ViewBag.Pager.CurrentPage < ViewBag.Pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.Pager.CurrentPage + 1)">Next</a>
                </li>
            }
        </ul>
    </nav>
}

